.modal__backdrop {
    /* max-width: calc(100vw - 48px);
    max-height: calc(100vh - 24px); */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 541px;
    max-height: 752px;
    padding: 12px;
    border-radius: 15px;
    background-color: #FFFFFF;
    padding: 40px;
    object-fit: cover;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__img {
    top: 0;
    bottom: 0;
    margin: auto;
    width: 461px;
    height: 248px;
}

.advert_btn {
    padding: 12px 95px;
    border-radius: 12px;
    background-color: #3470FF;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border-color: transparent;
}