.container {
    min-width: 1000px;
    /* margin-left: 20px; */
    display: flex;
    min-height: 100vh;
    /* min-height: calc(100vh - 50px); */
    justify-content: center;
    background-image: linear-gradient(rgba(173, 186, 245, 0.5), rgba(245, 248, 63, 0.5)),
        url(../img/1378262077_c1.jpg );
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 2px solid green;
}


.title {
    padding-top: 100px;
    font-weight: 900px;
    font-size: 48px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(20, 6, 37);
}

;