.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: #2a363b;
    background-color: rgba(96, 161, 235, 0.5);
    cursor: pointer;
    width: 75px;
    border-radius: 25%;
    border: solid 2px rgb(247, 242, 235);
    font-size: 14px;
    padding: 10px 10px 10px 2px;
    text-align: center;
    margin-right: 55px;
    
  }
  
  .link:hover,
  .link:active {
    transition: 0.5s all ease;
    transform: scale(1.2);
    border: solid 1px rgb(126, 34, 247);
    background-color: rgb(162, 201, 206);
    color: white;
  }